
<div class="container">
  <router-outlet></router-outlet>
  <!-- <div class="row">
    <div class="col-md-12">
      <app-resource-page  [dt] = "dt" *ngIf="isVs">
        <p class="alert alert-info">
          Introduction to the Angular Docslink. These Angular docs help you learn and use the Angular platform and framework, from your first app to optimizing complex
        </p>
      </app-resource-page>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <input type="button" value="Okay" (click)="isVs = !isVs">
      <input type="button" value="Okay OnChanges" (click)="chDt()">
    </div>
  </div> -->
</div>
