<div class="row m-1">
  <div class="col-md-12">
      <p class="alert alert-info">
          Structural Directives change the structure of the view. Two examples are NgFor and NgIf. Learn about them in
          the Structural Directives guide.
      </p>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
      <p [ngStyle]="st" class="p-1">
          Attribute directives—change the appearance or behavior of an element, component, or another directive.
      </p>
      <p [ngClass]="{ alert : true, 'alert-info': true, border : true, 'border-primary' : true }">
          Attribute directives—change the appearance or behavior of an element, component, or another directive.
      </p>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
      <input type="text" [appSizer]="{ wd : 500, bkCl : 'red', fgCl : 'white' }"  >
  </div>
</div>
