<div class="container">
  <div class="row">
    <div class="col-md-12">
      <input type="button" class="btn btn-info" (click)="open()">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <ngb-progressbar showValue="true" type="success" [value]="25"></ngb-progressbar>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <ng2-smart-table (rowSelect)="onRowSelect($event)" [settings]="settings" [source]="data"></ng2-smart-table>
    </div>
  </div>
  <app-chart></app-chart>
</div>
